@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply lg:text-lg sm:text-sm;
}

#component_stack {
    @apply flex justify-center;
}

a.top-logo-wrapper {
    @apply cursor-default fixed top-2 left-2;
}

.top-logo {
    @apply scale-50 opacity-15 hover:opacity-25 transition-opacity duration-200 cursor-pointer;
}

.component-paddings {
    @apply pl-2 pr-2 pt-1 pb-1;
}

.component-margins {
    @apply mb-1;
}

a {
    @apply text-blue-400 underline;
}

code {
    @apply p-1 rounded-md text-sm font-mono bg-neutral-200 text-gray-800;
}

.category-head {
    animation: from_side 100ms forwards;
}

.from-top {
    animation: from_top 100ms forwards;
}

.category-head > div:first-child > .category-child {
    @apply text-opacity-100;
}

@keyframes from_side {

    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translateX(-10px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateZ(0);
    }

}


@keyframes from_top {

    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes blink {
    0% {
        animation-timing-function: ease-out;
        opacity: 0;
    }

    50% {
        animation-timing-function: ease-in;
        opacity: .5;
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 0;
    }
}

.blink {
    animation: blink 2.5s infinite;
}

.category-child {
    @apply font-bold select-none text-opacity-0;
}

p {
    display: inline;
}

#is {
    @apply text-2xl md:text-3xl lg:text-4xl font-black;
}

#the-number {
    @apply text-5xl md:text-6xl lg:text-7xl font-bold text-center focus:outline-none w-full h-1/4 outline-none;
}

.title {
    @apply text-4xl md:text-5xl lg:text-6xl font-black;
}

.loading-logo {
    @apply block blink ml-auto mr-auto;
}